Notification {
    color: #f9f5d7;
    border: 1px solid #141416;
    border-radius: 2px;
    background: #1d2021;
    margin: 0px;
}

QLabel {
    color: #f9f5d7;
}

#closeButton {
    border: none;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#closeButton:hover {
    border: 1px solid #141416;
    border-radius: 4px;
    background: #535353;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#appLabel {
    font-weight: bold;
}
